body{
    margin: 0;
    padding: 0;
}

.nav-bar{
    background-color: #888888;
    height: 141px;
}

.left-bar-side{
    float: left;
    width: 50%;
}

.right-bar-side{
    float: right;
    width: 50%;
    text-align: right;
}

.icone{
display:inline-block;
margin-left: 79px;
margin-top: 37px;
}

.nav-right-buttons{
    display: inline-block;
    margin-top: 55px;
    margin-right: 45px;
    font-size: 24px;
    font-weight: 800;
}

.nav-left-button{
    font-size: 48px;
    font-weight: 700;
    margin-left: 38px;
vertical-align: 12px;
}

.nav-text{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}